@import "common";

ul {
    padding-left: 20px;
    margin: 0px;
}

li {
    list-style: none;
}

a {
    color: #333;

    &:hover, &:focus {
        color: #de0c00;
        text-decoration: none;
    }
}

.right-wrapper {
    .breadcrumbs {
        padding: 0px 20px;
    }
}

.form-bordered .form-group {
    border: none;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

/*.form-control {
    height: 28px;
    padding: 5px 7px;
    font-size: 13px;
}*/

.help-block {
    margin-top: 0;
    margin-bottom: 0;
}
.table tr td:last-child {
    white-space: nowrap;
}

.text-left {
    text-align: left !important;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #374a61;
}

/** Datatables */

div.dataTables_length select, .dataTables_wrapper .dataTables_filter input {
    padding: 3px 5px;
    border: solid 1px #ccc;
    font-weight: lighter;
    padding: 3px 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}

table.dataTable thead th, table.dataTable thead td {
    border-top: 1px solid #ccc !important;
    border-bottom: 2px solid #ccc !important;
}

table.dataTable.no-footer {
    border: none !important;
}

/** Custom */

.tab-content > .tab-pane {
    padding: 20px;
    border: solid 1px #ccc;
    border-top: none;
    border-radius: 3px;
}
